.jumbotron {
    padding-top: 0;
    background: url(../img/home-bg.svg), linear-gradient(180deg, #7014e8 30.12%, #0e5ecf 192.47%);
    margin: 0;
    color: #fff;
    border-radius: 0;
}

.navbar-inverse {
    background: none;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.btn-white {
    color: #5825e3;
    background-color: #fff;
    border-color: transparent;
    font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;
}

.btn-white:hover {
    color: #5825e3;
    background-color: #fff;
    border-color: transparent;
    font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;
}

.btn-purple {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;
}

.btn-purple:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;
}

.btn-scale:focus,
.btn-scale.focus,
.btn-scale:hover,
.btn-scale:active,
.btn-scale.active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}